.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 240px;
  overflow-x: scroll;
  gap: 18px;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain; /* on a laptop espicially, if you scroll even slightly too far you will go to the next/previous page, very annoying without this line. This says if you are scrolling this element, you cannot scroll other elements*/
}

.snap-inline {
  scroll-snap-type: inline mandatory;
}

.snap-inline > * {
  scroll-snap-align: start;
  scroll-padding-inline: 4px;
}

.container::-webkit-scrollbar {
  display: none;
}

.parent {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* margin-top: 5px; */
  justify-content: center;
}

.filters {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snack-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin: 18px 0 18px 0;
}

.checkbox-input {
  margin-right: 3px;
}

.checkbox-div {
  margin-bottom: 6px;
}

.next-div {
  height: 100%;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.next-div:hover {
  opacity: 0.4;
}

.leftandright {
  width: 20px;
  height: 20px;
}

.leftcircle {
  cursor: pointer;
  border-radius: 50%;
  background-color: gainsboro;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
}

.arrow-circle {
  cursor: pointer;
  border-radius: 50%;
  background-color: gainsboro;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
  user-select: none;
}

.allsnacks-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

html {
  scroll-behavior: smooth;
}

.grid-container-filters {
  display: grid;
  grid-auto-flow: column;
  overflow: scroll;
  gap: 25px;
  width: 1175px;
}

.grid-container-filters::-webkit-scrollbar {
  display: none;
}

.allsnacks-p {
  /* box-shadow: 0 4px 3px gray; */
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.a-reo {
  width: 100px;
}
