.tab-admin {
  margin-bottom: 20px;
  font-size: 22px;
  cursor: pointer;
  font-family: freemono;
  user-select: none;
}

.div-single-admin-order:hover {
  opacity: 0.2;
}

.div-single-admin-order {
  cursor: pointer;
}

.cancel-button-admin {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  background: red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.user-admin:hover {
  opacity: 0.3;
  cursor: pointer;
}

.delete-button-adminusers {
  font-size: 17px;
  font-family: freemono;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background-color: red;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-button-adminusers {
  font-size: 17px;
  font-family: freemono;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background-color: aqua;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
