.tab-admin {
  margin-bottom: 20px;
  font-size: 22px;
  cursor: pointer;
  font-family: freemono;
  user-select: none;
}

.div-single-admin-order:hover {
  opacity: 0.2;
}

.div-single-admin-order {
  cursor: pointer;
}

.cancel-button-admin {
  height: 50px;
  width: 120px;
  border-radius: 7px;
  background: red;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.user-admin:hover {
  opacity: 0.3;
  cursor: pointer;
}

.delete-button-adminusers {
  font-size: 17px;
  font-family: freemono;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background-color: red;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-button-adminusers {
  font-size: 17px;
  font-family: freemono;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background-color: aqua;
  cursor: pointer;
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table,
tr,
td {
  border: 1px solid;
  border-collapse: collapse;
}

.edit-but-adminproducts {
  height: 50px;
  width: 70px;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-but-adminproducts {
  height: 50px;
  width: 70px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Input-text-admin-edit {
  display: block;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  height: 40px;
  padding-left: 14px;
}

.edit-but-adminproducts-form {
  width: 100px;
  height: 50px;
  background-color: antiquewhite;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}
