.Navbar {
  background-color: blue;
  width: 100%;
  height: 60px;
  top: 0%;
  position: sticky;
  z-index: 100;
}

.Navbar--Container {
  vertical-align: middle;
  text-align: center;
  padding-right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 10px;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.Nav--Profile {
  padding-right: 30px;
}

.Nav--Cart {
  text-decoration: none;
  color: white;
}
